<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Caompatible" content="ie=edge">
    <title>Product+ | Carrousel y Media</title>
   
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway:500,600&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <!-- CSS Estilos -->
    <link rel="stylesheet" href="inicio.component.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="center-align titulo">¿Que desea guardar el dia de hoy?</h1>
                <div class="carousel center-align">
                    
                    <div class="carousel-item">
                        <h2 class="subtitulo"> Licuadoras</h2>
                        <div class="linea-division"></div>
                        <p class="especificacion">Color negro por ahora</p>
                        <img src="Img/licuadora.jpg" alt="">
                    </div>
                    <div class="carousel-item">
                        <h2 class="subtitulo"> Picadoras</h2>
                        <div class="linea-division"></div>
                        <p class="especificacion">Color gris por ahora</p>
                        <img src="Img/Picadores.jpg" alt="">
                    </div>
                    <div class="carousel-item">
                        <h2 class="subtitulo"> Sanduchera</h2>
                        <div class="linea-division"></div>
                        <p class="especificacion">Color celeste por ahora</p>
                        <img src="Img/sanduchera.jpg" alt="">
                    </div>

                    <div class="carousel-item">
                        <h2 class="subtitulo"> Batidora</h2>
                        <div class="linea-division"></div>
                        <p class="especificacion">Color café por ahora</p>
                        <img src="Img/batidores.jpg" alt="">
                    </div>

                    <div class="carousel-item">
                        <h2 class="subtitulo"> Microondas </h2>
                        <div class="linea-division"></div>
                        <p class="especificacion">Color negro por ahora</p>
                        <img src="Img/Microondas.jpg" alt="">
                    </div>

                    <div class="carousel-item">
                        <h2 class="subtitulo"> Lava-vajillas </h2>
                        <div class="linea-division"></div>
                        <p class="especificacion">Color negro por ahora</p>
                        <img src="Img/Lava-vajilla.jpg" alt="">
                    </div>

                    <div class="carousel-item">
                        <h2 class="subtitulo"> Tostadora </h2>
                        <div class="linea-division"></div>
                        <p class="especificacion">Color blanco por ahora</p>
                        <img src="Img/Tostadora.jpg" alt="">
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../../Jquery/prettify.js"></script>
    <!-- JS Main -->
    <script src="inicio.component.js"></script>

</body>
</html>